html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ol {
  display: inline-block;
  padding: 0;
}

.gutter {
  padding: 1rem;
}

li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.img-flex {
  width: 100%;
  display: block;
}

header {
  background-color: grey;
}
